# Laravel 4 specific
# Laravel 5 & Lumen specific
# folder cache
# folder images
# folder logs and system
#else folder
.env
.env.*.php
.env.php
.htaccess
.idea/
.phpunit.result.cache
.vscode/
/.idea
/.vagrant
/.vscode
/cache/
/node_modules
/package-lock.json
/public/
/public/themes/builder/
/storage/*.key
/themes/builder/move-to-public/
/vendor
Homestead.json
Homestead.yaml
app/storage/
bootstrap/compiled.php
database.sqlite
favicon.ico
gzip.php
modules/*/Config/backup/
node_modules/
npm-debug.log
package-lock.json
public/hot
public/storage
public/watermark/watermark.png
stats.json
storage/*.key
vendor/
yarn-error.log
